#servicos_itens{
    align-items: center;
    padding: 60px 0px;
}

.item-servico{
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 50%;
    gap: 60px;
    padding: 40px 0px;
}

.item-img{
    width: 50%;
}

.item-img img{
    width: 400px;
    height: 350px;
    border-radius: 10px;
}

.item-info{
    font-size: 1.1em;
    width: 50%;
}

.item-info h2{
    color: rgb(30, 167, 167);
    font-size: 2.5em;
}

.row-reverse{
    flex-direction: row-reverse;
}

@media screen and (max-width: 1500px) {
    .item-servico{
        width: 70%;
    }
}

@media screen and (max-width: 1050px) {
    #servicos_itens{
        padding: 30px 0px;
    }

    .item-servico{
        width: 100%;
        flex-direction: column-reverse;
        padding-top: 140px;
        text-align: center;
        gap: 10px;
        padding: 40px;
    }

    .item-img{
        width: 70%;
    }

    .item-img img{
        width: 500px;
        height: 400px;
    }

    .item-servico h2{
        margin: 0;
        padding: 0;
    }

    .item-servico p{
        display: none;
    }
}

@media screen and (max-width: 740px){
    .item-img, 
    .item-info{
        width: 100%;
    }

    .item-img img{
        width: 300px;
        height: 250px;
    }

    .item-info h2{
        font-size: 1.8em;
    }
}